.about-wrapper {
  .about_intro {
    display: flex;
    margin-bottom: 12rem;
    @include mobile {
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 6rem;
    }
    h2 {
      display: flex;
      @include text(6rem, 300, 100%, -1px);
      @include mobile {
        @include text(3.4rem, 400, 140%);
      }
    }
    p {
      @include text(2rem, 400, 170%);
      @include mobile {
        @include text(1.6rem);
      }
    }
  }
  .deco_line {
    display: block;
    margin: 3rem 2.4rem;
    width: 10vw;
    max-width: 20.3rem;
    height: 0.2rem;
    background: #141414;
    @include mobile {
      margin: 2.4rem 2rem;
      width: 6rem;
    }
  }
  .drag-container {
    h3 {
      margin-bottom: 4rem;
      padding-left: 1.8rem;
      text-indent: -1.4rem;
      @include text(2rem, 400, 170%);
      @include textColor($c_sub_text);
      &::before {
        content: '*';
      }
      @include mobile {
        margin-bottom: 2rem;
        padding-left: 1rem;
        text-indent: -1rem;
        @include text(1.4rem);
      }
    }
    .drag_content {
      max-width: var(--max-content);
      & + .drag_content {
        margin-top: 2.4rem;
        @include mobile {
          margin-top: 2rem;
          max-width: 100%;
        }
      }
      .drag_image {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* value */
        --leftVal: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: left;
          &.img_after {
            overflow: hidden;
            position: absolute;
            inset: 0;
            clip-path: inset(0px 0px 0px var(--leftVal));
          }
        }
      }
      .drag_slider {
        position: absolute;
        inset: 0;
        cursor: pointer;
        z-index: 5;
        opacity: 0;
      }
      .drag_slider_button {
        position: absolute;
        top: 50%;
        left: var(--leftVal);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        width: 4rem;
        height: 4rem;
        z-index: 2;
        background: url(../images/common/button_slider.png) no-repeat center / 2rem auto $c_text;
        @include mobile {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
  }
}
